body{
	margin:0;
	padding:0;
	color:#303030;
	/*background-color:#E8DDCB;*/
	background-color:#F2F2F2;
	font-family:"微软雅黑",Arial,"MS Trebuchet",sans-serif;
	font-size:1.0em;
	font-size:100%;
	text-align:center;
}
.space{
	padding-left:20px;
}
.clear{
	height:0px;
	clear:both;
}
.tip{
	left:0;
	top:0;
	width:100%;
	height:20px;
	background:#ff0;
	color:#000;
	font-size:0.85em;
	text-align:center;
	line-height:20px;
	z-index:99;
}
.bg{
	width:100%;
	height:70px;
	min-width:350px;
	background-color:#303030;
	box-shadow:2px 2px 3px #aaa;
}
.title{
	margin:0 auto;
}
.left{
	float:left;
	height:70px;
	line-height:70px;
	text-align:left;
	padding-left:2%;
	font-size:1.6em;
	font-weight:bold;
	/*color:#303030;*/
	color:#ddd;
}
.right{
	float:right;
	height:70px;
	line-height:70px;
	text-align:right;
}
.right ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
.right ul li{
	float:left;
	position:relative;
	font-size:0.8em;
}
.right ul li a{
	display:block;
	padding:0 0.85em;
	font-size:1.2em;
	text-decoration:none;
	color:#ddd;
}
.right ul li a:hover{
	color:#fff;
	background-color:#080;
}
.right ul li ul{
	display:none;
}
.right ul li:hover ul{
	display:block;
	background:#303030;
	position:absolute;
	top:70px;
	right:0;
	text-align:left;
	z-index:90;
}
.right ul li:hover ul li{
	width:160px;
}
.right ul li:hover ul li a{
	display:block;
	color:#B6B6B6;
	font-size:1.5em;
}
.right ul li:hover ul li a:hover{
	color:#F2F2F2;
}
/*导航*/
#navi{
	position:fixed;
	right:3px;
	bottom:20px;
	width:25px;
	height:25px;
	line-height:23px;
	color:#F2F2F2;
	background-color:#303030;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	opacity:0.2;
	border-radius:0.2em;
}
#navi:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}
#gt{
	display:none;
}
/*内容区*/
.box{
	width:97%;
	margin:1.8em auto;
	border-bottom:1px solid #ddd;
	text-align:left;
}
.f_t{
	font-size:1.25em;
	font-weight:bold;
	cursor:pointer;
	margin:15px;
	width:95%;
    white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.f_t:hover{
	color:#800;
}
.f_i{
	font-size:0.75em;
	margin:8px 15px;
	color:#666;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.f_c{
	display:none;
	font-size:1.0em;
	line-height:1.8;
	margin:15px;
}
.f_c ul,li{
	margin:0;
}
.f_c ul{
	padding-left:0.6em;
	margin-left:0.6em;
	margin-bottom:0.6em;
}
blockquote,pre{
	width:90%;
	clear:both;
	margin:1em 0;
	border-left:3px solid #999;
	padding:0.6em;
	word-break:break-word;
	white-space:pre-wrap;
	background-color:#DDD;
	font-size:1.0em;
}
blockquote ul{
	padding:0;
	margin:0;
}
blockquote li{
	padding:0;
	margin:0;
	word-break:break-word;
}
audio{
	display:block;
	width:99%;
	margin:1.1em 0;
}
iframe,video{
	display:block;
	width:100%;height:350px;
}
img{
	display:block;
}
.f_i a{
	color:#f2f2f2;
	background-color:#080;
	padding:0.3em 0.4em;
	margin-right:0.8em;
	font-weight:normal;
	text-decoration:none;
	border-radius:1em;
}
.f_i a:hover{
	background-color:#800;
}
.kt span{
	margin:0 0.2em;
	padding:0.2em 0.25em;
	background-color:#f6f8fb;
	border-radius:5px;
}
.kt{
	margin-left:0.8em;
}
#sf{
	display:none;
	border-bottom:1px solid #ddd;
	background-color:#eee;
	padding-top:1.2em;
}
.tb{
	width:75%;
	height:25px;
	margin-left:0.5em;
}
.btn{
	height:30px;
	font-size:1em;
	width:15%;
	height:30px;
	border-width:0px;
	border-radius:3px;
	background-color:#303030;
	cursor:pointer;
	outline:none;
	color:white;
	margin-left:0.1em;
}
.btn:hover{
	background-color:#080;
}
#tags{
	margin:1em auto;
	text-align:center;
	line-height:1.5;
}
#tags span{
	display:inline-block;
	margin:0.4em;
	padding:0.2em 0.5em;
	cursor:pointer;
	font-size:0.75em;
	border:1px solid #aaa;
	box-shadow:1px 1px 2px #aaa;
	border-radius:5px;
}
#tags span:hover,.sel{
	color:#f2f2f2;
	background-color:#080;
}
/*页尾*/
.footer{
	margin:10px 8px;
	font-size:0.8em;
	text-align:center;
}
.footer a{
	text-decoration:none;
	font-size:1em;
}
/*加载动画*/
.loading{
	width:150px;
	height:15px;
	margin:0 auto;
	margin:30px 0;
	text-align:center;
}
.loading span{
	display:inline-block;
	width:15px;
	height:100%;
	margin-right:5px;
	border-radius:50%;
	background:black;
	-webkit-animation:load 1.04s ease infinite;
}
.loading span:last-child{
	margin-right:0px;
}
@-webkit-keyframes load{
	0%{opacity:1;}
	100%{opacity:0;}
}
.loading span:nth-child(1){
	-webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
	-webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
	-webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
	-webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
	-webkit-animation-delay:0.65s;
}
/*屏幕宽度大于980px*/
@media screen and (min-width:980px){
	.title,.box{width:980px;}
	.left{padding-left:0;}
	audio{width:480px;}
	iframe,video{width:650px;height:450px;}
	.tb{width:300px;margin-left:0;}
	.btn{width:70px;}
	#tags{width:980px;}
}