body{
	background-color:#f2f2f2;
	font-size:1.0em;
	font-size:100%;
	width:100%;
	height:100%;
	text-align:center;
	padding:0;
	margin:0;
	overflow:hidden;
}
#main{
	position:absolute;
	width:100%;
	height:250px;
	left:50%;
	top:50%;
	margin-left:-50%;
	margin-top:-150px;
	text-align:center;
	overflow:auto;
}
#tit{
	width:100%;
	height:50px;
	display:-webkit-flex;
	display:flex;
	flex-direction:row;
    justify-content:center;
    align-items:center;
	background-color:#fff;
	border-bottom:1px solid #080;
}
#box span{
	display:inline-block;
	height:40px;
	line-height:40px;
	margin:0 0.2em;
	padding:0 0.8em;
	cursor:pointer;
	color:#f2f2f2;
	font-size:0.8em;
	background-color:#303030;
	border-radius:5px;
	white-space:nowrap;
}
#main input{
	display:block;
	width:96%;
	height:2.2em;
	border:1px solid #aaa;
	font-size:1.3em;
	margin:0 auto;
	padding:0.1em 0.5em;
	border-radius:5px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#box{
	text-align:center;
	margin-top:1em;
	line-height:3em;
}
#box span{
	cursor:pointer;
	color:#f2f2f2;
	background-color:#303030;
	font-size:1.0em;
	/*border-radius:5px;*/
	white-space:nowrap;
}
#box span:hover{
	background-color:#080;
}
.fo{
	position:absolute;
	width:100%;
	bottom:0;
	font-size:0.7em;
	color:#ccc;
}
.fo a{
	color:#ccc;
	text-decoration:none;
}
.fo a:hover{
	text-decoration:underline;
}
@media screen and (min-width:980px){
	#main input{width:980px;}
}