body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	color:#303030;
	background-color:#F9F9F9;
	font-family:"微软雅黑", Arial, "MS Trebuchet", sans-serif;
	font-size:1.0em;
	font-size:100%;
}
.tip {
	left:0;
	top:0;
	width:100%;
	height:20px;
	background:#ff0;
	color:#000;
	font-size:0.85em;
	text-align:center;
	line-height:20px;
	z-index:99;
}
#bg {
	width:100%;
	height:40px;
	line-height:40px;
	color:#fff;
	background-color:#24305e;
}
.title {
	margin:0 auto;
	padding-left:2%;
	text-align:left;
	font-size:1.3em;
}
/*———— 导航————*/
 #navi {
	position:fixed;
	right:1em;
	bottom:2em;
}
#navi span {
	display:block;
	margin:0.5em 0;
	width:2em;
	height:2em;
	line-height:2em;
	text-align:center;
	color:#303030;
	background-color:#c6d4e5;
	cursor:pointer;
	font-size:16px;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	border-radius:0.2em;
}
#navi span:hover {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
	color:#f2f2f2;
	background-color:#080;
}
/*———— 加载进度————*/
 #loading {
	width:90px;
	height:10px;
	line-height:10px;
	margin:1.5em auto;
	text-align:center;
}
#loading span {
	display:inline-block;
	width:10px;
	height:100%;
	margin-right:5px;
	border-radius:50%;
	background:#000;
	-webkit-animation:load 1.04s ease infinite;
}
#loading span:last-child {
	margin-right:0px;
}
@-webkit-keyframes load {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
#loading span:nth-child(1) {
	-webkit-animation-delay:0.13s;
}
#loading span:nth-child(2) {
	-webkit-animation-delay:0.26s;
}
#loading span:nth-child(3) {
	-webkit-animation-delay:0.39s;
}
#loading span:nth-child(4) {
	-webkit-animation-delay:0.52s;
}
#loading span:nth-child(5) {
	-webkit-animation-delay:0.65s;
}
/*———— 内容区————*/
 #box {
	margin:0 auto;
	padding:0 0.2em;
}
.entry {
	margin:0.5em;
	padding:0.4em 0.8em;
	line-height:1.8;
	border-bottom:#c6d4e5 1px solid
}
.entry strong {
	color:#333;
}
.entry img {
	display:block;
	margin:0.3em 0;
	border:#d7e1ed 2px solid;
}
iframe, video {
	display:block;
	margin:0.5em 0;
	max-width:100%;
}
.si_p, .si_a, .si_v {
	cursor:pointer;
	margin:0 0.3em;
	color:#006;
	padding:0 0.3em;
}
.cl {
	text-shadow:0 0 10px #f00;
}
.mask {
	display:none;
	font-size:0.7em;
}
.mbox {
	position:relative;
	font-size:0.7em;
}
.mbox img {
	max-width:100%;
	height:auto;
	cursor:pointer;
}
.mbox .clox {
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	opacity:0.5;
	color:#fff;
	background-color:#303030;
	position:absolute;
	top:0.2em;
	left:0.2em;
	padding:0 0.6em 0 0.5em;
	font-size:11px;
	cursor:pointer;
	text-shadow:0 0 3px #000;
}
.mbox .clox:hover {
	-moz-opacity:1;
	filter:alpha(opacity=100);
	opacity:1;
	background-color:#c00;
}
.entry-meta {
	color:#aaa;
	font-size:0.8em;
	margin-top:0.3em;
}
.entry a {
	margin:0 0.2em;
	padding:0 0.1em;
	color:#2440bb;
	text-decoration:none;
}
.entry a:hover {
	color:#f00;
}
.prefix {
	padding:0.1em 0.5em;
	color:#fff;
	margin:0 0.8em 0 0.3em;
	font-size:0.85em;
	border-radius:0.1em;
}
.dzb {
	color:#666;
	margin:0.3em 0;
	background-color:#f5f5f5;
	font-size:1.5em;
	padding:0.3em 0.5em 0.3em 0;
	border-radius:0.25em;
}
.dzb::before {
	content:"“ ";
	font-family:宋体;
	color:#333;
}
.blo {
	padding:0.5em;
	margin:0.6em 0;
	font-size:0.9em;
	background-color:#f3f3f3;
	border-left:5px solid #bed9b2;
}
.footer {
	font-size:0.8em;
	margin:0.8em 0;
	font-style:italic;
	padding-left:1em;
}
/*————播放器相关 ————*/
 audio {
	width:250px;
	height:30px;
	margin-top:0.5em;
}
audio:focus {
	outline:none;
}
#pbox {
	display:none;
	position:fixed;
	bottom:2.2em;
	right:3.5em;
	width:250px;
}
#plist {
	display:none;
	height:6em;
	overflow:auto;
	background-color:#f1f3f4;
	border:1px solid #ccc;
	border-radius:10px;
	padding:0.5em;
}
#plist span {
	display:block;
	font-size:0.8em;
	cursor:pointer;
	padding:0.2em 0.3em;
	margin:0.2em 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/*———— 状态————*/
 .m0 {
	/*说*/
	background: #2b73b0
}
.m1 {
	/*疑惑*/
	background: #9a1ae4;
}
.m2 {
	/*感叹*/
	background: #995b1e;
}
.m3 {
	/*生气*/
	background: #00f;
}
.m4 {
	/*讨厌*/
	background: #b46db9;
	;
}
.m5 {
	/*希望*/
	background: #54aa54;
}
.m6 {
	/*郁闷*/
	background: #026261;
}
.m7 {
	/*高兴*/
	background: #ff3333;
}
.m8 {
	/*分享*/
	background: #FF9100;
}
/*———— 屏幕宽度大于980px自适应————*/
 @media screen and (min-width:980px) {
	.title, #box {
		width:980px;
	}
	iframe, video {
		width:650px;
		height:450px;
	}
}