body{
	margin:0;
	padding:0;
	color:#303030;
	background-color:#f2f2f2;
	font-size:1.0em;
	font-size:100%;
	text-align:center;
}
.bg{
	width:100%;
	min-width:350px;
	height:60px;
	line-height:60px;
	text-align:left;
}
.left{
	float:left;
	text-align:left;
	padding-left:2%;
	font-size:1.2em;
	font-weight:bold;
	/*color:#f2f2f2;*/
}
.left img{
	vertical-align:middle;
}
.box{
	display:inline-block;
}
.cat{
	float:left;
	border:1px solid #303030;
	background-color:#f2f2f2;
	/*width:280px;*/
	margin:5px;
}
.title{
	margin-bottom:0.2em;
	padding:0.3em;
	color:#fff;
	background-color:#303030;
	font-size:1.1em;
}
.list{
	overflow:auto;
	margin:0.2em 0.2em 0.2em 0;
	text-align:left;
}
.list ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
.list ul li{
	padding:0.4em 0 0.4em 0.5em;
	cursor:pointer;
	/*font-size:0.8em;*/
	text-decoration:none;
	color:#303030;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	border-left:6px solid #f2f2f2;
}
.list ul li:hover{
	background-color:#ddd;
	border-left:6px solid #080;
}
.footer{
	padding-top:10px;
	font-size:0.8em;
	text-align:center;
}
.footer a{
	text-decoration:none;
	font-size:1em;
}