body{
	background-color:#f2f2f2;
	font-size:1.0em;
	font-size:100%;
	width:100%;
	height:100%;
	text-align:center;
	padding:0;
	margin:0;
	overflow:hidden;
}
#main{
	position:absolute;
	width:100%;
	height:230px;
	left:50%;
	top:50%;
	margin-left:-50%;
	margin-top:-150px;
	text-align:center;
	overflow:auto;
}
input{
	display:block;
	width:96%;
	border:1px solid #aaa;
	font-size:1em;
	margin:0 auto;
	padding:0.5em 0.5em;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
input:focus{
	outline:none;
}
#box{
	text-align:center;
	margin-top:1em;
	line-height:2.8em;
	white-space:normal;
}
#box span{
	display:inline-block;
	cursor:pointer;
	height:30px;
	line-height:30px;
	margin:0 0.2em;
	padding:0 0.8em;
	color:#f2f2f2;
	background-color:#303030;
	white-space:nowrap;
	border-radius:5px;
}
#box span:hover{
	background-color:#080;
}
.fo{
	position:fixed;
	width:100%;
	bottom:1em;
	font-size:0.85em;
	color:#aaa;
}
.fo a{
	color:#aaa;
	text-decoration:none;
}
.fo a:hover{
	text-decoration:underline;
}
#info{
	display:none;
	position:fixed;
	bottom:3.5em;
	margin:0 auto;
	width:100%;
	color:#303030;
	font-size:0.8em;
	text-align:center;
}
ol{
	width:85%;
	margin:0 auto;
	padding:0.8em;
	line-height:1.8em;
	text-align:left;
	padding-left:2em;
	background-color:#ffffee;
	border:1px solid #aaa;
	border-radius:5px;
}
.unl{
	color:#00f;
	margin:0 0.3em;
	padding:0 0.2em;
	border:1px solid #aaa;
	font-weight:bold;
	text-decoration:none;
	background-color:#eee;
}
h2{
	height:20px;
	margin:0 auto;
	margin:30px 0;
}
.loading{
	display:none;
	width:100%;
	height:20px;
	margin:0 auto;
	margin:30px 0;
	text-align:center;
}
.loading span{
	display:inline-block;
	width:20px;
	height:100%;
	margin-right:5px;
	/*border-radius:50%;*/
	background:#080;
	-webkit-animation:load 1.04s ease infinite;
}
.loading span:last-child{
	margin-right:0px;
}
@-webkit-keyframes load{
	0%{opacity:1;}
	100%{opacity:0;}
}
.loading span:nth-child(1){
	-webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
	-webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
	-webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
	-webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
	-webkit-animation-delay:0.65s;
}
@media screen and (min-width:980px){
	input{width:980px;}
	ol{width:450px;}
}